@import "./pk-skeleton.scss";

$pk-skeleton-paragraph-height: 24rpx;
$pk-skeleton-paragraph-border-radius: 4rpx;
$pk-skeleton-paragraph-margin: $pk-margin-m 0 0 0;

$namespace: pk-skeleton-paragraph;

.#{$namespace} {
    width: 100%;
    height: $pk-skeleton-paragraph-height;
    background-image: linear-gradient(
        90deg,
        $pk-skeleton-background-start 25%,
        $pk-skeleton-background-end 37%,
        $pk-skeleton-background-start 63%
    );
    border-radius: 100%;
    background-size: 400% 100%;
    background-position: 100% 50%;
    border-radius: $pk-skeleton-paragraph-border-radius;
    margin: $pk-skeleton-paragraph-margin;

    &:first-child {
        margin: 0;
    }

    &--active {
        animation: skeleton-loading $pk-skeleton-duration infinite;
    }
}
