@keyframes pk-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pk-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pk-slide-up-enter {
  from {
    transform: translate(0, 100%);
  }
}

@keyframes pk-slide-up-leave {
  to {
    transform: translate(0, 100%);
  }
}

@keyframes pk-slide-down-enter {
  from {
    transform: translate(0, -100%);
  }
}

@keyframes pk-slide-down-leave {
  to {
    transform: translate(0, -100%);
  }
}

@keyframes pk-slide-left-enter {
  from {
    transform: translate(-100%, 0);
  }
}

@keyframes pk-slide-left-leave {
  to {
    transform: translate(-100%, 0);
  }
}

@keyframes pk-slide-right-enter {
  from {
    transform: translate(100%, 0);
  }
}

@keyframes pk-slide-right-leave {
  to {
    transform: translate(100%, 0);
  }
}

@keyframes pk-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}